<img class="landing-img" src="https://images.unsplash.com/photo-1506316940527-4d1c138978a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" alt="">


<div class="landing">
  <div class="landing-intro">
    <h2>Dein Bergerlebnis mit dem Fahrrad</h2>
    <p>Praktisch und ökologisch korrekt in die Berge - mit Bike Sharing Stationen im Alpenraum.</p>
  </div>

  <div class="landing-culture">
    <h2>Erlebnisse in den Alpen flexibel erreichen und dabei das Ökosystem schützen.</h2>
    <p class="bg-contrast">Die Kulturlandschaft des Alpenraums bietet das gesamte Jahr über eine große Vielfalt an Freizeitmöglichkeiten. Durch den Individualverkehr wächst dabei zunehmend die Verkehrsbelastung auf den Zufahrtsstrassen als auch in den kleineren Seitentälern mit empfindlichem Ökosystem. Lange Verkehrsstaus früh morgens auf dem Hinweg und am Nachmittag auf dem Weg zurück sind gerade an Wochenenden keine Seltenheit. Wir von Alpinrad träumen von einem ökologisch vertretbarem Mobilitätsverhalten um die Schönheit der Alpen wahrlich zu genießen.</p>
  </div>

  <div class="landing-info">
    <h2>Mit zentralen Bikesharing Stationen die letzten Meter spielerisch überwinden.</h2>
    <p class="bg-contrast">Durch ein intelligent vernetztes Fahrradverleihsystem an zentralen Bahnhöfen und Verkehrsknotenpunkten in den Alpen wird die Anreise mit öffentlichen Verkehrsmitteln attraktiver. Qualitativ hochwertige Mountainbikes mit und ohne Elektromotor sorgen dabei für die jeweils passende Mobilitätsform. Die vorherige Reservierung der Fahrräder per App garantiert die geplante Bergtour, ohne Sorgen den Anschluss zu verpassen. Der Frust durch Stau oder Parkplatzsorgen wird aufgelöst und das Erlebnis rückt in den Mittelpunkt. Einfach online reservieren, Zugverbindung aussuchen, anreisen, rauf aufs Rad und los gehts.</p>
  </div>

  <div class="landing-last">
    <h2>Neue <br> Wege <br> gehen</h2>

    <p>Mehr erfahren</p>
  </div>
</div>
