<h1>Map</h1>

<div id="map"
     data-controller="karte"
     data-karte-markers-value="<%= @markers.to_json %>"></div>

<div class="karte-stations-container">
  <% @stations.each do |station| %>
    <div class="karte-station">
      <%= station.name %>
      <% unless station.station_schedules.empty? %>
        <div class="karte-station-schedules">
          <% station.station_schedules.each do |schedule| %>
            Station available from <%= schedule.start_date.strftime("%d %m %y") %> to <%= schedule.end_date.strftime("%d %m %y") %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
